.home {
    font-size: 11px;
    font-family: "DejaVu Sans", sans-serif;
    background-color: rgba(193, 255, 255, 0.677);
}

.home-body {
    text-align: center;
    list-style-position: inside;
}

.home-body ul li {
    margin-right: 60px;
}
